<?xml version="1.0" encoding="UTF-8"?>
<!-- config.xml -->

<root>
   <AnalogueModels>
      <AnalogueModel type="SimplePathlossModel">
          <parameter name="alpha" type="double" value="2.0"/>
          <parameter name="carrierFrequency" type="double" value="5.890e+9"/>
      </AnalogueModel>
      <AnalogueModel type="SimpleObstacleShadowing">
          <parameter name="carrierFrequency" type="double" value="5.890e+9"/>
          <obstacles>
              <type id="landuse" db-per-cut="9" db-per-meter="0.4" />
              <type id="water" db-per-cut="9" db-per-meter="0.4" />
              <type id="building" db-per-cut="9" db-per-meter="0.4" />
              <type id="tourism" db-per-cut="9" db-per-meter="0.4" />
              <type id="school" db-per-cut="9" db-per-meter="0.4" />
              <type id="amenity" db-per-cut="9" db-per-meter="0.4" />
              <type id="commercial" db-per-cut="9" db-per-meter="0.4" />
              <type id="college" db-per-cut="9" db-per-meter="0.4" />
              <type id="man_made" db-per-cut="9" db-per-meter="0.4" />
          </obstacles>
      </AnalogueModel>
   </AnalogueModels>
   <Decider type="Decider80211p">
      <!-- The center frequency on which the phy listens -->
      <parameter name="centerFrequency" type="double" value="5.890e+9"/>
   </Decider>
</root>

